.btn-primary {
    text-transform: uppercase;
    color: #fff;
    background: #79a206;
    border: none;
}
.btn-secondary {
    border-radius: 3px;
    text-transform: uppercase;
    color: #fff;
    background: #222222;
    border: none;
}
.btn-primary:hover {
    background-color: #222222;
}
.btn-secondary:hover {
    background-color: #79a206;
}
.btn.sm {
    font-size: 12px;
    font-weight: 700;
    height: 34px;
    line-height: 26px;
    padding: 5px 20px;
}
.btn.lg {
    height: 65px;
    line-height: 65px;
    padding: 0 45px;
    font-size: 15px;
    font-weight: 500;
}
.btn.sm.rounded {
    border-radius: 20px;
}
.btn.lg.rounded {
    border-radius: 30px;
}