.about-us-section-header {
  background: #f0f0f0;
  border-bottom: 1px solid #e1e1e1;
  padding: 50px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.about-us-section-header h1 {
  font-size: 42px;
  line-height: 50px;
  margin-bottom: 9px;
}
.w-100 {
  width: 100%;
}
.mx-auto {
  margin: 0 auto !important;
}
.about-us-info-section {
  padding: 100px 0;
}
.about-info-title {
  font-size: 24px;
  line-height: 24px;
  text-transform: capitalize;
  font-weight: 400;
  margin-bottom: 21px;
  text-align: center;
}
.about-info-text {
  text-align: center;
  font-size: 14px;
  line-height: 26px;
}
.text-center {
  text-align: center;
}
.features-section-style {
  padding: 100px 0 93px;
}
.features-section-style img {
  margin-bottom: 23px;
}
.feature-bg-image-style {
  background-repeat: no-repeat;
  background-size: cover;
}
.contact-us-section-header {
  background: #f0f0f0;
  border-bottom: 1px solid #e1e1e1;
  padding: 50px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.contact-us-section-header h1 {
  font-size: 42px;
  line-height: 50px;
  margin-bottom: 9px;
}
.contact-us-title-style {
  font-size: 21px;
  text-transform: capitalize;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 25px;
}
.contact-us-main-info-section p {
  padding: 13px 0;
  border-top: 1px solid #e1e1e1;
  color: #3b3b41;
  display: flex;
  align-items: center;
}
.contact-us-main-info-section p span {
  margin-left: 10px;
}
.contact-us-main-info-section a {
  color: #3b3b41;
  text-decoration: none;
}
.mb-30 {
  margin-bottom: 30px;
}
.contact-us-from label {
  line-height: 18px;
  font-weight: 500;
  margin-bottom: 10px;
  display: block;
}
.contact-us-from input,
.contact-us-from textarea {
  border: 1px solid #e1e1e1;
  height: 45px;
  background: #ffffff;
  text-indent: 20px;
  color: #757575;
  margin-bottom: 20px;
  min-width: 100%;
}
.contact-us-from textarea {
  padding-top: 20px;
  min-height: 100px;
}
.contact-us-from input:focus,
.contact-us-from textarea:focus {
  outline: none;
}
.css-a5rdam-MuiGrid-root > .MuiGrid-item {
  padding-top: 0 !important;
}
.css-h4y409-MuiList-root {
  padding-top: 0 !important;
}
a{
    text-decoration: none;
   
}
